p img {
  padding: 1em;
  border: 2px solid #aaa;
  border-radius: .5em;
}

blockquote strong {
  font-size: 1.5em;
}

h2 {
  border-top: 1px solid #aaa;
}

[data-page="faqs.md"] h3 {
  font-size: 1.25em;
  font-weight: bold;
  margin-top: 1rem;
}

.updated {
  font-size: .75em;
  font-style: italic;
  color: #aaa;
  border-top: 1px solid #ccc;
  padding-top: .75em;
}